@model IEnumerable<ShoppingSpree.Data.Models.ProductsModel>
@{
    ViewBag.Title = "Index";

}

<h2>Index</h2>
<ul>
    @foreach (var product in Model)
    {
        var base64 = Convert.ToBase64String(product.Image);
        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);

        <li>
            <p>@product.ProductName</p>
            <p>@product.ProductColour</p>
            <p>@product.ProductPrice</p>
            <img src="@imgSrc" alt="@product.Image" style="max-width:150px" />
        </li>
    }
</ul>